#canvas{
    border: 3px solid $green; 
}

.signup-form{
    background-color: $grey;
    border-radius: 9px;  
    h2{
        font-size: 2em;
        padding-top: 4%;
        margin-top: 5%;
    }
}

.login{
    width: 50%;
    margin-top: 5%;
    padding: 5px;
    padding-top: 10px;
    background-color: $grey;
    border-radius: 9px; 
    h2{
        font-size: 2em;
        padding: 4%;
    }
}

.btn-primary{
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    background-color: $purple;
    color: $white;
    border-color: $blue;
    &:Hover{
        background-color: $darkblue;
        border-color: $blue;
    }

}
